<%layout("layouts/boilerplate")%>


<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Username: <%= currentUser.username %> </h1>
    </div>
    <div class="panel-body">
      Email Id: <%= currentUser.email %> 
    </div>
  </div>
  <a href="/" class="btn btn-primary">Back to Shopping List</a>
  